*

!.gitignore


!.config

!.config/fish
!.config/fish/**

!.config/alacritty.toml

!.config/starship.toml

!.config/helix
!.config/helix/**

!.config/zellij
!.config/zellij/**

!.profile
!.bashrc
!.zshrc
!.zshenv
!.zprofile

!.gitignore_global
!.gitconfig